@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;

    width: 100%;
    min-height: 100vh;
}
.fullScreen {
    background-image: url('assets/backgroundlogin.jpg');
    background-size: cover; /* Hiển thị hình ảnh sao cho nó bao phủ toàn bộ phần tử */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */
    background-position: center; /* Hiển thị hình ảnh ở giữa phần tử */
    height: 100vh;
    width: 100%;
}

.container1 {
    margin: auto;
    width: 60%;
    display: flex;
    // height: 650px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
@keyframes Show {
    0%,
    49.999% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes Hidden {
    0%,
    49.999% {
        opacity: 1;
        z-index: 5;
    }
    100% {
        opacity: 0;
        z-index: 1;
    }
}

.container1 .box {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
}

.container1.active .box {
    transform: translateX(100%);
}

.container1 .box .form {
    position: absolute;
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
}

.container1 .box .form.sign_up {
    transition: all 1.15s;
    z-index: 1;
    opacity: 0;
    background-color: #fff;
}

.container1 .box .form.sign_in {
    opacity: 1;
    transition: all 1.15s;
    z-index: 5;
    background-color: #fff;
}

.container1.active .box .form.sign_in {
    z-index: 1;
    opacity: 0;
}

.container1.active .box .form.sign_up {
    z-index: 5;
    opacity: 1;
}
.form.sign_in h3,
.form.sign_up h3 {
    color: #aa0000;
}
.container1 .overlay {
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    // background-color: #ff4167;
    background-color: rgb(238, 0, 0, 0.88);

    // background-color: rgba(255, 65, 103, 0.88);
    z-index: 1;
    overflow: hidden;
    z-index: 5;
    opacity: 1;
}

.container1.active .overlay {
    transform: translateX(-100%);
}

.container1 .overlay .page {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    opacity: 1;
}

.container1.active .overlay .page.page_signIn {
    opacity: 0;
    margin-left: -100%;
}

.container1.active .overlay .page.page_signUp {
    margin-left: 0%;
}

.overlay .page h3 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: Dosis-SemiBold;
}

.overlay .page p {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: Dosis-Regular;
}

.btn {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-family: Dosis-SemiBold;
    font-size: 15px;
    font-weight: 550;
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 22px;
    border: 1.5px solid #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #aa0000;
}
.backhome {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-family: Dosis-SemiBold;
    font-size: 15px;
    font-weight: 550;
    background-color: transparent;
    margin: 12px 45px;
    padding: 0 15px;

    cursor: pointer;
}
.backhome:hover {
    color: yellowgreen;
}
.form h3 {
    color: #222;
    font-size: 40px;
    font-family: Dosis-SemiBold;
}

.form span {
    color: #3a3838;
    font-family: Dosis-Medium;
}
.headingForm {
    margin-bottom: 10px;
    text-align: center;
}

// #form_input .type {
//     width: 330px;
//     height: 48px;
//     // background-color: #eeedef;
//     // background-color: #c20000;
//     background-color: rgb(202, 0, 0);
//     // margin: 30px 0;
//     // margin: 0 0 30px 0;
//     border-radius: 5px;
// }

// #form_input .type input {
//     width: 100%;
//     height: 100%;
//     padding: 0 10px;
//     font-size: 16px;
//     border: none;
//     outline: none;
//     background-color: transparent;
//     // color: #d9d9d9;
//     color: #fff;
// }

// #form_input .type input::placeholder {
//     color: #d9d9d9;
// }

// #form_input .forgot {
//     margin-bottom: 20px;
//     font-weight: 500;
//     text-align: center;
// }
// #form_input .forgot a {
//     color: #222;
//     padding: 8px;
// }
// #form_input .forgot a:hover {
//     color: #1e73ce;
//     // color: #aa0000;
// }

#form_input1 .type {
    width: 330px;
    height: 48px;
    background-color: rgb(202, 0, 0);
    border-radius: 5px;
}

#form_input1 .type input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    // color: #d9d9d9;
    color: #fff;
}

#form_input1 .type input::placeholder {
    color: #d9d9d9;
}

#form_input1 .forgot {
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
}
#form_input1 .forgot a {
    color: #222;
    padding: 8px;
    font-family: Dosis-Medium;
}
#form_input1 .forgot a:hover {
    color: #1e73ce;
    // color: #aa0000;
}

#form_input2 .type {
    width: 330px;
    height: 40px;
    background-color: rgb(202, 0, 0);
    border-radius: 5px;
    display: flex;
    position: relative;
}

#form_input2 .type input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    // color: #d9d9d9;
    color: #fff;
}
#form_input2 .type .check {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #2b8c04;
}

#form_input2 .type input::placeholder {
    color: #d9d9d9;
}

.btnCenter {
    text-align: center;
}
.bkg {
    background-color: #ee0000;
}
.bkg:hover {
    background-color: #aa0000;
}

.groupField {
    // margin-bottom: 10px;
    // margin-bottom: 10px;
    // display: flex;
}
.head {
    text-align: left !important;
}

.fieldType {
    font-size: 13.5px;
    line-height: normal;
    color: #cb0000;
}
.spaceField {
    display: block;
    height: 16.8px;
}

//when have logged in

.container-btn-login {
    display: flex;
    justify-content: flex-end;
}

.btn-exit {
    background-color: #ee0000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    height: 43px;
    width: 85px;
    margin-right: 10px;
}

.btn-exit:hover {
    background-color: #990000;
}

.btn-deny {
    background-color: white;
    color: #ee0000;
    border: 2px solid #ee0000;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    height: 43px;
    width: 85px;
}
